<section class="app-section">
  <header class="app-section-header">
    <h4 *ngIf="!localeService.isEnglishCheck()">Podaci o timu</h4>
    <h4 *ngIf="localeService.isEnglishCheck()">Team details</h4>
    <h2>{{result['TeamName']}}</h2>
  </header>

  <div class="app-section-content">
    <h3 *ngIf="!localeService.isEnglishCheck()">Članovi tima</h3>
    <h3 *ngIf="localeService.isEnglishCheck()">Team members</h3>
    <div class="members">
        <mat-card *ngFor="let m of members">
            <mat-card-title>{{m['Name']}} {{m['Surname']}}</mat-card-title>
            <mat-card-subtitle>{{m['Mail']}}</mat-card-subtitle>
        </mat-card>

    </div><button type="submit" (click)="submit()" mat-raised-button color="primary" class="btn-centered" *ngIf="!localeService.isEnglishCheck()">Predaj</button>
    <button type="submit" (click)="submit()" mat-raised-button color="primary" class="btn-centered" *ngIf="localeService.isEnglishCheck()">Submit</button>
  </div>
</section>