/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************************/

html {
    font-family: Roboto, sans;
    font-size: 16px;
}

h1 {
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 48px;
}

h2 {
    font-size: 2rem;
    line-height: 48px;
}

h3 {
    font-size: 1.5rem;
    line-height: 24px;
}

h4 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 300;
}

fieldset {
    padding: 24px 0;
}

.btn-centered {
    margin: 0 auto;
    width: 225px;
}


/******************************************************************************/

.app-container {
    margin: 0 auto;
    width: 960px;
}

.app-header {
    text-align: center;
    padding: 24px 24px;
}

.app-header-title {

}

.app-header-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
}

/******************************************************************************/

.app-section {
    padding: 24px 24px;
}

.app-section-header {
    padding: 12px 0;
    text-align: center;
}

.content-narrow {
    margin: 0 auto;
    width: 450px;
}

/******************************************************************************/

.members {
    padding: 24px 0;
}
