<section class="app-section">
  <header class="app-section-header">
    <h2 *ngIf="!localeService.isEnglishCheck()">Prijava u sustav</h2>
    <h2 *ngIf="localeService.isEnglishCheck()">Login</h2>
  </header>

  <div class="app-section-content">
    <div class="content-narrow">
      <form class="example-container" (ngSubmit)="onSubmit()" [formGroup]="options">
        <mat-form-field [floatLabel]="options.value.floatLabel">
          <mat-label *ngIf="!localeService.isEnglishCheck()">Naziv tima</mat-label>
          <mat-label *ngIf="localeService.isEnglishCheck()">Team name</mat-label>
          <input formControlName="teamname" matInput required>
        </mat-form-field>
        <mat-form-field [floatLabel]="options.value.floatLabel">
          <mat-label *ngIf="!localeService.isEnglishCheck()">Lozinka</mat-label>
          <mat-label *ngIf="localeService.isEnglishCheck()">Password</mat-label>
          <input type="password" formControlName="password" matInput required>
        </mat-form-field>

        <button *ngIf="!localeService.isEnglishCheck()" [disabled]='options.status != "VALID"' type="submit" mat-raised-button color="primary" class="btn-centered">Prijavi se</button>
        <button *ngIf="localeService.isEnglishCheck()" [disabled]='options.status != "VALID"' type="submit" mat-raised-button color="primary" class="btn-centered">Login</button>
      </form>
    </div>
  </div>

</section>