<div class="app-container">
    <header class="app-header">
        <h1 *ngIf="!localeService.isEnglishCheck()" class="app-header-title">Change Code</h1>
        <h1 *ngIf="localeService.isEnglishCheck()" class="app-header-title">Change Code</h1>
        <p *ngIf="!localeService.isEnglishCheck()" class="app-header-subtitle">Administracijska aplikacija</p>
        <p *ngIf="localeService.isEnglishCheck()" class="app-header-subtitle">Administration application</p>
    </header>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a *ngIf="!localeService.isEnglishCheck()" mat-button routerLink="/submit" routerLinkActive="active">Registracija</a>
        <a *ngIf="localeService.isEnglishCheck()" mat-button routerLink="/submit" routerLinkActive="active">Registration</a>
        <a *ngIf="!localeService.isEnglishCheck()" mat-button routerLink="/login" routerLinkActive="active">Prijava</a>
        <a *ngIf="localeService.isEnglishCheck()" mat-button routerLink="/login" routerLinkActive="active">Login</a>
        <a *ngIf="!localeService.isEnglishCheck()" mat-button routerLink="/info" routerLinkActive="active">Podaci o timu</a>
        <a *ngIf="localeService.isEnglishCheck()" mat-button routerLink="/info" routerLinkActive="active">Team details</a>
        <span class="fill"></span>
        <span class="lang">
            <a mat-mini-fab (click)="changeLang('hr')">HR</a>
            <a mat-mini-fab (click)="changeLang('en')">EN</a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
