.example-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .example-container * {
    width: 100%;
  }

  .input-group {
    display: flex;
    flex-direction: row;
  }

  .half {
    margin: auto;
  }

  .example-container button {
    margin: 0 auto;
    width: 250px;
  }

  .example-container form {
    margin-bottom: 20px;
  }

  .example-container form * {
    margin: 5px 0;
  }

  .example-container .mat-radio-button {
    margin: 0 5px;
  }
