<section class="app-section">
  <header class="app-section-header">
    <h2 *ngIf="!localeService.isEnglishCheck()">Registracija tima</h2>
    <h2 *ngIf="localeService.isEnglishCheck()">Team registration</h2>
  </header>

  <div class="app-section-content">
    <div class="content-narrow">
      <form class="example-container" (ngSubmit)="onSubmit()" [formGroup]="options">
        <mat-form-field>
          <mat-label *ngIf="!localeService.isEnglishCheck()">Naziv tima</mat-label>
          <mat-label *ngIf="localeService.isEnglishCheck()">Team name</mat-label>
          <input formControlName="Teamname" matInput required>
        </mat-form-field>
        <mat-form-field>
          <mat-label *ngIf="!localeService.isEnglishCheck()">Lozinka</mat-label>
          <mat-label *ngIf="localeService.isEnglishCheck()">Password</mat-label>
          <input formControlName="Password" matInput required>
        </mat-form-field>

        <fieldset formGroupName="first">
          <h4 *ngIf="!localeService.isEnglishCheck()">Prvi član:</h4>
          <h4 *ngIf="localeService.isEnglishCheck()">First member:</h4>
          <div class="input-group">
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Ime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Name</mat-label>
              <input formControlName="name" matInput required class="half">
            </mat-form-field>
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Prezime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Surname</mat-label>
              <input formControlName="surname" matInput required class="half">
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label *ngIf="!localeService.isEnglishCheck()">Adresa e-pošte</mat-label>
            <mat-label *ngIf="localeService.isEnglishCheck()">E-mail</mat-label>
            <input formControlName="mail" matInput required>
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="second">
          <h4 *ngIf="!localeService.isEnglishCheck()">Drugi član:</h4>
          <h4 *ngIf="localeService.isEnglishCheck()">Second member:</h4>
          <div class="input-group">
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Ime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Name</mat-label>
              <input formControlName="name" matInput required class="half">
            </mat-form-field>
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Prezime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Surname</mat-label>
              <input formControlName="surname" matInput required class="half">
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label *ngIf="!localeService.isEnglishCheck()">Adresa e-pošte</mat-label>
            <mat-label *ngIf="localeService.isEnglishCheck()">E-mail</mat-label>
            <input formControlName="mail" matInput required>
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="third">
          <h4 *ngIf="!localeService.isEnglishCheck()">Treći član:</h4>
          <h4 *ngIf="localeService.isEnglishCheck()">Third member:</h4>
          <div class="input-group">
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Ime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Name</mat-label>
              <input formControlName="name" matInput required class="half">
            </mat-form-field>
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Prezime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Surname</mat-label>
              <input formControlName="surname" matInput required class="half">
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label *ngIf="!localeService.isEnglishCheck()">Adresa e-pošte</mat-label>
            <mat-label *ngIf="localeService.isEnglishCheck()">E-mail</mat-label>
            <input formControlName="mail" matInput required>
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="fourth">
          <h4 *ngIf="!localeService.isEnglishCheck()">Četvrti član:</h4>
          <h4 *ngIf="localeService.isEnglishCheck()">Fourth member:</h4>
          <div class="input-group">
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Ime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Name</mat-label>
              <input formControlName="name" matInput required class="half">
            </mat-form-field>
            <mat-form-field>
              <mat-label *ngIf="!localeService.isEnglishCheck()">Prezime</mat-label>
              <mat-label *ngIf="localeService.isEnglishCheck()">Surname</mat-label>
              <input formControlName="surname" matInput required class="half">
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label *ngIf="!localeService.isEnglishCheck()">Adresa e-pošte</mat-label>
            <mat-label *ngIf="localeService.isEnglishCheck()">E-mail</mat-label>
            <input formControlName="mail" matInput required>
          </mat-form-field>
        </fieldset>

        <button type="submit" [disabled]='options.status != "VALID"' mat-raised-button color="primary" class="btn-centered" *ngIf="!localeService.isEnglishCheck()">Registriraj se</button>
        <button type="submit" [disabled]='options.status != "VALID"' mat-raised-button color="primary" class="btn-centered" *ngIf="localeService.isEnglishCheck()">Register</button>
      </form>
    </div>
  </div>
</section>